/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

$hover: #F2BAC9;
$picBg: #B3B8B7;
$btnBg: #E97A7A;
$inputHover: #D8A7B1;
$stroke: #000000;
$font: #2F2F2F;
$hoverFont: #CD2020;
$background: #F1E7D9;

body {
  background-color: $background;
}

.container-fluid{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.navbar-brand-item {
  display: flex;
  align-items: center;
}

.navbar-brand-item span {
  font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  color: $btnBg;
  margin-top: 5px;
}

.navbar-brand a:hover{
  background: none;
  text-decoration-line:underline;
}

.navbar-links{
  margin-left: auto;
}

.navbar-links a{
    margin-right: 1rem;
}

/* For the Style-guide */

.headingLogo-nav {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
}

.heading-nav {
	display: inline-block;
	vertical-align: middle;
	font-size: 3rem;
	font-style: normal;
	margin: 0;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

.header-nav {
	position: sticky;
	top: 0px;
	background: $btnBg;
}

nav {
	margin-left: 1rem;
	margin-top: 1rem;
}

.styleGuide-header-nav {
	position: sticky;
	top: 0px;
	background: $btnBg;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.styleGuide-header-nav .nav_but {
	background-color: $btnBg;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
/* END - For the Style-guide */

.nav_but {
	border: none;
	color: white;
	font-family: "arial black";
}

.nav_logo {
	margin-left: 1rem;
	margin-bottom: 1rem;
	vertical-align: middle;
}

.styleGuide-header-nav .nav_but:hover {
	background-color: $hover;
}

.bodyBlock {
	font-family: sans-serif;
	padding-top: 0rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
}

.introduce-nav {
	margin-top: 1rem;
	margin-bottom: 5rem;
	width: 100%;
}

.element {
	padding-bottom: 2rem;
	border-top-width: 0.15rem;
	border-top-style: solid;
	border-top-color: black;
	margin-bottom: 80pt;
}

a {
	padding: 0.5rem;
	color: $font;
	text-decoration-line: none;
	font-family: "Century Gothic", Arial, "Arial Black", "Arial Narrow", "sans-serif";
}

a:hover {
	padding: 0.5rem;
	background: $hover;
	color: $hoverFont;
	text-decoration-line: none;
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.5s;
	        transition-duration: 0.5s;
} /* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus */
.intext-nav {
	text-decoration-line: underline;
}

h1 {
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

h2 {
	margin-top: 6rem;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

h3 {
	font-style: italic;
	margin-top: 1rem;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

h4 {
	margin-bottom: 0.25rem;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

p {
	margin-top: 0;
	font-family: "Century Gothic", Arial, "Arial Black", "Arial Narrow", "sans-serif";
	width: 75%;
}

li, ol, label, input {
	font-family: "Century Gothic", Arial, "Arial Black", "Arial Narrow", "sans-serif";
}

legend {
	font-size: 1.5rem;
	font-style: normal;
	margin: 0;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

nav a:hover, nav a:focus {
	text-decoration: none;
}

code {
	background-color: #EEE;
	padding: 0.5rem;
	display: block;
}

button {
	margin-top: 0.8rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.5rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	background: $btnBg;
	border-color:$hoverFont;
	color: white;
	font-family: "arial black";
}

button:hover {
	background: $hover;
	border-color: red;
	color: $hoverFont;
	-webkit-transition-property: background-color, color;
	transition-property: background-color, color;
	-webkit-transition-duration: 0.25s;
	        transition-duration: 0.25s;
}

/* 
  GALLERY -------------------
*/
.product-listings-gallery {
  display: flex;
  flex-direction: column;
}

.product-listings-gallery-card {
  padding-top: 10vw;
  padding-left: 10%;
  padding-bottom: 2rem;
  flex-grow: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1597823968481-20de5e1269c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 45vw;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/
/* Styling for the navigation button */
.inputLab-nav {
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

.imgLink-nav {
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.imgLink-nav:hover {
    background: none;
    color: none;
    text-decoration: none;
	-webkit-box-shadow: 12px 12px $btnBg;
	        box-shadow: 12px 12px $btnBg;
}

/* 
  TEXT ELEMENTS -------------------
*/
.heading1 {
	font-size: 4rem;
	font-style: normal;
	margin: 0;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

.heading2 {
	font-size: 3rem;
	font-style: normal;
	margin: 0;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

.heading3 {
	font-size: 2rem;
	font-style: normal;
	margin: 0;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

.heading3-nav {
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
	font-style: normal;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
	margin-right: 2rem;
}

.heading4 {
	font-size: 1rem;
	font-style: normal;
	margin: 0;
	font-family: "Playfair Display", "Playfair Display Black", "Playfair Display ExtraBold", "Playfair Display Medium", "Playfair Display SemiBold", Cambria, "serif";
}

.p {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0.5rem;
	font-family: "Century Gothic", Arial, "Arial Black", "Arial Narrow", "sans-serif";
}


.projectsList_container {
	margin-left: 15%;
	margin-right: 15%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    flex-direction: row;
}

.projectsList_container div {
	margin-right: 1rem;
}

.projectsList {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	min-width: 200px;
	padding: 1rem;
	color: white;
	background-color: $btnBg;
	text-decoration-line: none;
	font-family: "Century Gothic", Arial, "Arial Black", "Arial Narrow", "sans-serif";
}

@media (max-width: 1200px) {
	.projectsList_container {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.projectsList:hover {
	background-color: $hover;
	color: $hoverFont;
	-webkit-transition-property: background-color, color;
	transition-property: background-color, color;
	-webkit-transition-duration: 0.25s;
	        transition-duration: 0.25s;
}

.projects_listing:hover {
	background: none;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.25s;
	        transition-duration: 0.25s;
}

.projectsList img {
	width: 100%;
}

.colourCard_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.colourCard_container div {
	width: 16.66%;
}

.cartCard {
	margin-top: 1rem;
	margin-bottom: 1rem;
}



footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 10%;
	padding-right: 10%;
	background-color: $btnBg;
	color: white;
	display: block;
    margin-top: 5rem;
}

.footer-nav {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.footer-text {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.footer-link-container {
	border-left: 1px solid rgb(109, 109, 109);
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding-left: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

@media screen and (max-width: 1300px) {
	.footer-nav {
		display: inline-block;
	}
	.footer-link-container {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		padding-left: 0;
		border: none;
		-webkit-column-gap: 1rem;
		   -moz-column-gap: 1rem;
		        column-gap: 1rem;
	}
}
@media screen and (max-width: 900px) {
	.footer-text p {
		width: 100%;
	}
}
@media screen and (max-width: 800px) {
	.footer-link-container {
		display: block;
	}
}